<html>

<head>
    <title>XLSXReader + AngularJS Demo</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
</head>

<body>
    <div ng-app='App' class="container">
        <div ng-controller="PreviewController">
            <h4>XLSX Reader demo</h4>
            <form action="" method="post" enctype="multipart/form-data">
                <div class='form-group'>
                    <label for='excel_file'>Excel File</label>
                    <input type="file" name="excel_file" accept=".xlsx" onchange="angular.element(this).scope().fileChanged(this.files);" required="true">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="showPreview" ng-change="showPreviewChanged();">Show preview of excel file
                    </label>
                </div>
                 <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="showJSONPreview">Show JSON preview of selected sheet
                    </label>
                </div>
                <div ng-show="isProcessing">
                    <span>Processing ...</span>
                </div>

                <div class='form-group'>
                    <label for='sheet_name'>Sheet Name</label>
                    <select id="sheet_name" class="form-control" ng-change="updateJSONString()" ng-model="selectedSheetName" required="true" ng-required="true" ng-options="sheetName as sheetName for (sheetName, sheetData) in sheets">
                        <option value="">---- Select a sheet ----</option>
                    </select>
                </div>

                <input type="hidden" name="sheet_name" value="{{ selectedSheetName }}">

                <input type="submit" value="Submit">

                <div ng-show="showJSONPreview">
                  <h4>JSON Preview of selected sheet</h4>
                  <pre class="langauge-javascript"><code>{{ json_string }}</code></pre>
                  </div>
                <div ng-show="showPreview">
                    <table class="table table-bordered" ng-repeat="(sheetName, sheetData) in sheets" ng-show="sheetName == selectedSheetName">
                        <thead>
                            <tr>
                                <th ng-bind="sheetName"></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in sheetData.data">
                            <td ng-repeat="col in row" ng-bind="col"></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>

</body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script type="text/javascript" src="js/jszip.js"></script>
<script type="text/javascript" src="js/xlsx.js"></script>
<script type="text/javascript" src="js/xlsx-reader.js"></script>

<script type="text/javascript">
var app = angular.module("App", []);

app.factory("XLSXReaderService", ['$q', '$rootScope',
    function($q, $rootScope) {
        var service = function(data) {
            angular.extend(this, data);
        };

        service.readFile = function(file, showPreview) {
            var deferred = $q.defer();

            XLSXReader(file, showPreview, function(data) {
                $rootScope.$apply(function() {
                    deferred.resolve(data);
                });
            });

            return deferred.promise;
        };


        return service;
    }
 ]);

app.controller('PreviewController', function($scope, XLSXReaderService) {
  $scope.showPreview = false;
  $scope.json_string = "";

    $scope.fileChanged = function(files) {
        $scope.isProcessing = true;
        $scope.sheets = [];
        $scope.excelFile = files[0];
        XLSXReaderService.readFile($scope.excelFile, true).then(function(xlsxData) {
            $scope.sheets = xlsxData.sheets;
            $scope.isProcessing = false;
        });
    };

  $scope.updateJSONString = function() {
    $scope.json_string = JSON.stringify($scope.sheets[$scope.selectedSheetName], null, 2);
  }
    $scope.showPreviewChanged = function() {
        if ($scope.showPreview) {
            $scope.isProcessing = true;
            XLSXReaderService.readFile($scope.excelFile, true).then(function(xlsxData) {
                $scope.sheets = xlsxData.sheets;
                $scope.isProcessing = false;
            });
        };
    };
});
</script>
</html>
